<ng-container *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="register()" class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput type="email" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hidden?.[HiddenFields.password] ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="toggleField(HiddenFields.password)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidden?.[HiddenFields.password]" type="button">
        <mat-icon>{{hidden?.[HiddenFields.password] ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Repeat your password</mat-label>
      <input matInput [type]="hidden?.[HiddenFields.repeatPassword] ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="toggleField(HiddenFields.repeatPassword)"
              [attr.aria-label]="'Hide repeat password'" [attr.aria-pressed]="hidden?.[HiddenFields.repeatPassword]"
              type="button">
        <mat-icon>{{hidden?.[HiddenFields.repeatPassword] ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <p>Already have an account? <a [routerLink]="['/auth', 'login']">Login then!</a></p>
    <button mat-raised-button [color]="'primary'">Register</button>
  </form>
</ng-container>
