mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__half {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__links {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

  &__link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--accent);

    &_active {
      color: #b0b0b0;
    }
  }

  &__title {
    font-size: 1.5rem;
  }
}
