@use '@angular/material' as mat;

@include mat.core();

@import "./app/app.component.theme";

$recipes-primary-light: mat.define-palette(mat.$indigo-palette, 600);
$recipes-primary-dark: mat.define-palette(mat.$indigo-palette, 400);
$recipes-accent: mat.define-palette(mat.$yellow-palette, 400);
$recipes-warn: mat.define-palette(mat.$red-palette);

$recipes-theme: mat.define-light-theme((
  color: (
    primary: $recipes-primary-light,
    accent: $recipes-accent,
    warn: $recipes-warn
  )
));
$recipes-theme-dark: mat.define-dark-theme((
  color: (
    primary: $recipes-primary-dark,
    accent: $recipes-accent,
    warn: $recipes-warn
  )
));

@mixin custom-theme($theme) {
  @include mat.all-component-themes($theme);
  @include root-theme($theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container_positioned {
  margin: 0 auto;
  padding: 1.25rem;
}

.theme-light {
  @include custom-theme($recipes-theme);

  $primaryLight: mat.get-color-from-palette($recipes-primary-light);
  $contrastPrimaryLight: mat.get-contrast-color-from-palette($recipes-primary-light, 600);
  $contrastBackgroundLight: #000000DD;

  .card {
    &_active {
      background-color: $primaryLight !important;
    }

    &_active, &_active mat-card-subtitle {
      color: $contrastPrimaryLight !important;
    }
  }

  .icon-button__content {
    color: $primaryLight !important;
  }

  .nav {
    background-color: $primaryLight !important;
  }

  .tab_active {
    opacity: 1;
  }

  .contrast-logo {
    fill: $contrastBackgroundLight;
  }
}

.theme-dark {
  @include custom-theme($recipes-theme-dark);

  $primaryDark: mat.get-color-from-palette($recipes-primary-dark);
  $contrastPrimaryDark: mat.get-contrast-color-from-palette($recipes-primary-dark, 400);
  $contrastBackgroundDark: #fff;

  h1, h2, h3, h4, h5, h6, input, textarea, div, p, span {
    &:not([class^=mat]) {
      color: $contrastPrimaryDark;
    }
  }

  .card {
    &_active {
      background-color: $primaryDark !important;
    }

    &_active, &_active mat-card-subtitle {
      color: $contrastPrimaryDark !important;
    }
  }

  .icon-button__content {
    color: $primaryDark !important;
  }

  .nav {
    background-color: $primaryDark !important;
  }

  .tab_active {
    opacity: 1;
  }

  .contrast-logo {
    fill: $contrastBackgroundDark;
  }
}

.card {
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  }
}

.icon-button__content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav__link_active {
  color: mat.get-color-from-palette($recipes-accent) !important;
}

.success-snackbar {
  background: #45c547 !important;
}

.error-snackbar {
  background: #ee5f52 !important;
}
