.card {
  &__img {
    object-fit: cover;
    margin-left: 0.625rem;
  }
}

mat-card-subtitle {
  display: block;
  display: -webkit-box;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
