<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="addIngredient()">
      <div class="row">
        <div class="col-sm-5">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              type="text"
              placeholder="Enter ingredient name: "
              autocomplete="off"
            >
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input
              matInput
              formControlName="amount"
              type="number"
              placeholder="Amount of ingredients: "
              autocomplete="off"
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="buttons">
            <button mat-raised-button [color]="'primary'" [disabled]="form.invalid" type="submit">Add</button>
            <button mat-raised-button [color]="'warn'">Delete</button>
            <button mat-raised-button [color]="'accent'" type="button" (click)="clearForm()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
