:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100px;
  margin: 2rem 0;
}

.icon {
  vertical-align: bottom;
  width: 8rem;
  height: 6rem;
  font-size: 8rem;
}
