<div class="row">
  <div class="col-xs-12">
    <button class="button" mat-button [color]="'primary'" (click)="toggleOpen()">
      <div class="button__content">
        <mat-icon [class.active]="open$ | async">add</mat-icon>
        Add ingredient
      </div>
    </button>

    <ng-container *ngIf="open$ | async">
      <app-edit-ingredient (submitted)="onAddIngredient($event)"></app-edit-ingredient>
    </ng-container>

    <mat-divider></mat-divider>

    <app-shopping-list></app-shopping-list>
  </div>
</div>
