mat-divider {
  margin: 1.25rem 0;
}

mat-icon {
  transition: 0.4s ease-out;
}
mat-icon.active {
  transform: rotateZ(135deg);
}

app-edit-ingredient {
  display: block;
  margin-top: 1rem;
}

.icon-button {
  padding-right: 1.5rem;
}
